<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <add value="home.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="gatorairlines@gmail.com">
                <network defaultCredentials="false" host="smtp.gmail.com" password="gogators!" port="587" userName="gatorairlines@gmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
