
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x;
	font: 13px Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea {
	font: normal 1em Georgia, "Times New Roman", Times, serif;
}

h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	color: #333333;
}

h1 {
	letter-spacing: -2px;
	font-size: 3.2em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, ol, ul {
	margin: 0 0 2em 0;
	line-height: 200%;
}

blockquote {
	margin: 0 0 0 2.5em;
	padding-left: 1em;
	border-left: 5px solid #16B1B0;/*#16B1B0*/
}
/*Link Color*/
a {
	color: #1F24CC;
}

a:hover {
	text-decoration: none;
}

img {1B
	border: none;
}

/* Header */

#header {
	width: 770px;
	height: 100px;
	margin: 0 auto;
}

#header h1, #header p {
	margin: 0;
}

#header h1 {
	float: left;
	padding: 34px 0 0 0;
}

#header p {
	float: right;
	padding: 42px 0 0 0;
	font-size: 1.8em;
}

#header a {
	text-decoration: none;
	color: #333333;
}

/* Menu */

#menu {
	width: 770px;
	height: 65px;
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding-right: 30px;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 1.2em;
	font-weight: bold;
	color: #333333;
	border-color: #1F24CC;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 770px;
	margin: 0 auto;
	background: /*url(images/img05.gif)*/;
}

#extra {
	background: /*url(images/img06.gif) no-repeat left bottom*/;
}

/* Content */

#content {
	float: left;
	width: 530px;
	background: /*url(images/img03.gif) no-repeat*/;
}

.post {
	padding: 40px 40px 0 40px;
}

.post ol, .post ul {
	list-style-position: inside;
}

.post .title {
}

.post .title h2 {
}

.post .title p {
}

.post .title p a {
}

.post .entry {
}

.post .links {
	padding: 2px 20px;
	background: #1F24CC;/*#1F24CC*/
	text-align: right;
}

.post .links a {
	text-decoration: none;
	font-weight: bold;
	color: #0B8785;/*#0B8785*/
}

.post .links a:hover {
	text-decoration: underline;
}

.post .links .more {
}

.post .links .comments {
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	background: /*url(images/img04.gif) no-repeat*/;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 20px;
}

#sidebar li li {
	font-size: .85em;
}

#sidebar h2 {
	height: 33px;
	padding: 4px 0 0 10px;
	background: /*url(images/img07.jpg) no-repeat*/;
	font-size: 1.6em;
}

/* Search */

#searchform {
	padding: 20px;
}

#search h2 {
	background: /*url(images/img08.jpg) no-repeat*/;
}

#search #x {
}

#search #s {
	width: 120px;
}

#search br {
}

/* Calendar <<<DON'T need?>>> */

#calendar_wrap {
	padding: 20px 25px 20px 20px;
}

#calendar table {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #16B1B0;
	text-align: center;
}

#calendar thead {
	background: #16B1B0;
	color: #FFFFFF;
}

#calendar tbody td {
	background: #FFFFFF;
	border: 1px solid #1F24CC;/*BCF8FA*/
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #today {
	background: #BCF8FA;
	border: 1px solid #16B1B0;
	font-weight: bold;
	color: #16B1B0
}

/* Footer */

#footer {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding: 30px 0;
	background: /*url(images/img11.gif) no-repeat*/;
}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}

#footer a {
	text-decoration: none;
}

/* SEAT SELECTION */

#holder{
height:200px;
width:550px;
background-color:#F5F5F5;
border:1px solid #A4A4A4;
margin-left:10px;
}
#place {
position:relative;
margin:7px;
}
#place a{
font-size:0.6em;
}
#place li
{
 list-style: none outside none;
 position: absolute;
}
#place li:hover
{
background-color:yellow;
}
#place .seat{
background:url("images/available_seat.png") no-repeat scroll 0 0 transparent;
height:33px;
width:33px;
display:block;
}
#place .selectedSeat
{
background-image:url("images/booked_seat.png");
}
#place .selectingSeat
{
background-image:url("images/selected_seat.png");
}
#place .row-3, #place .row-4{
margin-top:10px;
}
#seatDescription li{
verticle-align:middle;
list-style: none outside none;
padding-left:35px;
height:35px;
float:left;
}

